@font-face {
    font-family: btitr;
    src: url(BTitrBd.woff2);
   }
    :root {
        --primary: #000000;
        --primary-light: #ffffff;
        --secondary: #1e88e5;
        --accent: #ff5252;
        --light: #495057;
        --lightest: #212529;
        --dark: #e9ecef;
        --transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
        --section-padding: 120px 0;
        --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       font-family: btitr;
        transition: 1s all;
        font-family: btitr;
    }

    html {
        transition: 1s all;
        scroll-behavior: smooth;
        
    }

    body {
        background-color: var(--primary);
        color: var(--light);
        line-height: 1.7;
        overflow-x: hidden;
        font-family: btitr;
        transition: 1s all;
    }

   
    .container {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 20px;
    }



  
    header {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 98.5vw;
        height: 90px;
        padding: 25px 0;
        transition: var(--transition);

        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 8999;


    }

    header {
        padding: 15px 20px;
        backdrop-filter: blur(18px) saturate(150%) brightness(108%);
    background-color: rgba(23, 23, 23, 0.075);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 24px, rgba(255, 255, 255, 0.12) 0px 1px inset;
    border-width: 1px;
    border-style: solid;
    border-radius: 9999px;
    border-color: rgba(255, 255, 255, 0.692);
    border-image: initial;
        color: #fff;

        transition: all 0.3s ease;
    }


    .header.scrolled:hover {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

  

    nav ul {
        display: flex;
        list-style: none;
        align-items: center;
        z-index: -9;
    }

    nav ul li {
        margin-right: 30px;
    }

    nav ul li a {
        color: var(--light);
        font-size: 1.1rem;
        font-weight: 500;
        transition: var(--transition);
        position: relative;
        text-decoration: none;
    }

    nav ul li a:after {
        content: '';
        position: absolute;
        bottom: -5px;
        right: 0;
        width: 0;
        height: 2px;
        background: var(--secondary);
        transition: var(--transition);
    }

    nav ul li a:hover:after,
    nav ul li a.active:after {
        width: 100%;
        left: 0;
    }

    nav ul li a:hover,
    nav ul li a.active {
        color: var(--secondary);
    }

    .mobile-menu-btn {
        display: none;
        background: none;
        border: none;
        color: var(--secondary);
        font-size: 1.8rem;
        cursor: pointer;
        z-index: 99001;
        margin-top: 7px;
    }

 

   
    @media (max-width: 1200px) {
        .section-title h2 {
            font-size: 2.2rem;
        }

        .hero-title {
            font-size: 3rem;
        }
    }

    @media (max-width: 992px) {
        :root {
            --section-padding: 100px 0;
        }

        .about-container {
            grid-template-columns: 1fr;

        }

        .about-img {
            max-width: 600px;
            margin: 0 auto;

        }

        .contact-container {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    @media (max-width: 768px) {
        .hero-bg {
         
            background-position: right;
        }

        .mobile-menu-btn {
            display: block;
        }

        nav ul {
            position: fixed;
            top: -10px;
            left: -100%;
            width: 80%;
            max-width: 300px;
            height: 105vh;
            background-color: var(--primary);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 100px 30px 30px;
            transition: var(--transition);

            box-shadow: -10px 0 30px rgba(0, 0, 0, 0.3);
        }

        nav ul.active {
            left: -5px;
        }

        nav ul li {
            margin: 0 0 30px;
        }

        nav ul li a {
            font-size: 1.3rem;
        }

        .hero-buttons {
            flex-direction: column;
            gap: 15px;
        }

        .hero-buttons .btn {
            width: 100%;
        }
    }

    @media (max-width: 576px) {

        :root {
            --section-padding: 80px 0;
        }

        header {
            position: fixed;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: 95vw;
            height: 90px;
            padding: 25px 0;
            transition: var(--transition);

            border-radius: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            z-index: 9999;
        }

        header.scrolled {
            padding: 15px 0;
            border-radius: 9999px;
            margin-top: 12px;


        }

        .logo-text h1 {
            font-size: 1.3rem;
            text-align: right;
            z-index: -9999;
        }

        .logo-text p {
            font-size: .9rem;
            z-index: -9999;
        }

    }

    
    @media (max-width: 375px) {
        .container {
            padding: 0 15px;
        }

       
    }


   
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .fade-in {
            animation: fadeIn 1s ease forwards;
        }

    @keyframes skillAnimation {
        from {
            width: 0;
        }

        to {
            width: var(--skill-level);
        }
    }

    
  

    .loud {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        background: -webkit-linear-gradient(245deg, rgba(50, 67, 70, 0.36) 0, rgb(41, 127, 161) 100%);
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 9999999;
        animation: non 2s forwards 2s;
    }

    .box {
        display: flex;
        position: fixed;
        justify-content: center;
        right: 0;
        left: 0;
        margin: 300px auto;
        gap: 20px;
        animation: non 1s forwards 2.5s;
        z-index: 9999999999999999999999999999;
    }

    .b {
        border-radius: 100%;
        background-color: rgb(65, 75, 75);
        width: 30px;
        height: 30px;
        animation: anim 0.7s 3 alternate forwards, color 0.7s 2.5 alternate forwards;
        z-index: 999999999999999999999999999999999999999999999999;
    }

    @keyframes anim {
        0% {
            scale: 100%;
            transform: translatey(0);
        }

        100% {
            scale: 140%;
            transform: translatey(-10px);
        }
    }

    .box1 {
        animation-delay: 0.1s;
    }

    .box2 {
        animation-delay: 0.2s;
    }

    .box3 {
        animation-delay: 0.3s;
    }

    .box4 {
        animation-delay: 0.4s;

    }

    @keyframes color {
        0% {
            background-color: rgba(0, 0, 0, 0.486);
        }

        100% {
            background-color: rgb(255, 255, 255);
        }

    }

    @keyframes non {

        50% {
            opacity: 0;

        }

        100% {
            display: none;
            opacity: -9999;

        }
    }
      /* سکشن اصلی */
    .bgimgfsina {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 950px; 
      background: linear-gradient(180deg, #13212b, #121212);
      overflow: hidden;
      text-align: center;
      
    }

   
    .bgwave {
      position: absolute;
      
      left: 0;
      top:0 ;
      width: 100%;
      height: 58%;
      display: block;
     fill: #1a9b74;
      
    }
    
    .bgimgfsina h1{
        position: absolute;
        color: #fff;
        font-size: 190px;
        z-index: 99;
        top: 125px;
        
        
    }

    @media (max-width: 1300px) {
      
    .bgimgfsina {
      position: relative;
      width: 100%;
      height: 900px; 
      background: linear-gradient(180deg, #13212b, #121212);
      overflow: hidden;
    }

 
    .bgwave {
      position: absolute;
      
      left: -200px;
      top:0 ;
      width: 200%;
      height: 430px;
      display: block;
    }
    .bgimgfsina h1{
        font-size: 100px;
        top: 120px;
        margin: 10px;
    }
   
    }
   #services {
    max-width: 1200px;
    margin: 60px auto 0 auto; 
    padding: 0 20px;
    position: relative;
    bottom: 565px;
}

@media (max-width: 500px) {
    #services {
        bottom: 700px; 
    }
}

    
    #services h2 {
        text-align: center;
        font-size: 46px;
        margin-bottom: 50px;
        color: #1a9b74;
        font-weight: 1000;
        letter-spacing: 0px;
        font-family: "broyabold";
    }
    
    .services-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;
    }
    
    .service-card {
          backdrop-filter: blur(18px) saturate(150%) brightness(108%);
    background-color: rgba(255, 255, 255, 0.075);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 24px, rgba(255, 255, 255, 0.12) 0px 1px inset;
    border-width: 1px;
        border-radius: 12px;
        padding: 30px 25px;
        transition: all 0.3s ease;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: default;
    }
    
    .service-card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    }
    
    .service-icon {
        font-size: 48px;
        
        margin-bottom: 20px;
        user-select: none;
    }
    
    .service-title {
        font-size: 22px;
        margin-bottom: 12px;
        font-weight: 800;
        color: #ffffff;
        font-family: "Rubik", sans-serif;
    }
    
    .service-desc {
        font-size: 14px;
        color: #555;
        line-height: 1.5;
        font-family: "brayabold";
    }
    
    .container {
        width: 90%;
        max-width: 1150px;
        margin: 0 auto;
        padding: 40px 0;
    }
    
    .pricing {
        margin-bottom: 70px;
    }

    /* اضافه کردن استایل برای دکمه‌ها */
.theme-buttons {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.theme-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

